/*------------- font-color --------------------*/
.title-color{
  color:#FF3182;
}
/*----------- mobile-responsive -------------------*/
@media (max-width: 576px) {
 .body{
   max-width: 100%;
   overflow-x: hidden;
 }
}